body {
  font-family: sans-serif;
  padding: 1em;
}
.form-wrapper {
  width: 45em;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}
.heading {
  font-size: 2em;
  font-weight: 700;
  padding: 1em 0 1em 0;
}

.list-wrapper {
  padding: 1em;
}

button {
  width: 12em;
}