body {
  font-family: sans-serif;
  padding: 1em;
}

.form-wrapper {
  width: 45em;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

.heading {
  font-size: 2em;
  font-weight: 700;
  padding: 1em 0 1em 0;
}

.list-wrapper,
.donut-chart-wrapper {
  padding: 1em;
}

.add-todo-button,
.clear-all-button {
  width: 12em;
}

.todo-list-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.badge-done {
  background-color: #356635;
}

.badge-done:hover {
  background-color: #134E13;
}

.badge-estimate {
  background-color: #0C5A80;
}

.badge-estimate:hover {
  background-color: #03405E;
}

.badge-remove {
  background-color: #d9534f;
}

.badge-remove:hover {
  cursor: pointer;
  background-color: #c9302c;
}

.error-message {
  color: #c9302c;
}

.not-visible {
  display: none;
}

.donut-text {
  font-weight: bold;
  font-size: 2em;
  text-anchor: middle;
}

.donut-ring {
  stroke: #337ab7;
  stroke-width: 40;
  fill: transparent;
}

.donut-segment {
  stroke-dasharray: "0 314.15926535897932384626433832795";
  transition: stroke-dasharray 2s;
  fill: transparent;
  stroke: #356635;
  stroke-width: 40;
}

.donut-hole {
  fill: #fff;
}

.dummy-data-link {
  font-weight: 800;
}