body {
  font-family: sans-serif;
  padding: 1em;
}
.form-wrapper {
  width: 45em;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}
.heading {
  font-size: 2em;
  font-weight: 700;
  padding: 1em 0 1em 0;
}

.list-wrapper,
.donut-chart-wrapper {
  padding: 1em;
}

.add-todo-button,
.clear-all-button {
  width: 12em;
}

.todo-list-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.badge-done {
  background-color: #468847;
}

.badge-done:hover {
  background-color: #356635;
}

.badge-estimate {
  background-color: #3a87ad;
}
.badge-estimate:hover {
  background-color: #2d6987;
}

.badge-spent {
  background-color: #468847;
}
.badge-spent:hover {
  background-color: #356635;
}

.badge-remove {
  background-color: #d9534f;
}

.badge-remove:hover {
  cursor: pointer;
  background-color: #c9302c;
}

.error-message {
  color: #c9302c;
}

.not-visible {
  display: none;
}

.donut-text {
  font-weight: bold;
  font-size: 2em;
}

.donut-segment {
  stroke-dasharray: "0 314.15926535897932384626433832795";
  transition: stroke-dasharray 2s
}